@{
    ViewBag.Title = "About";
}
<h2 style="color:black">@ViewBag.Title.</h2>
<h3 style="color:black">@ViewBag.Message</h3>

<p></p>
<div>
    <div class="lineBlockDescr">
        <div>

            <div style="margin-left:10px; border-color:black; border-style:groove">
                <h1 class="find" style="color:black">Find Jobs</h1>
                <p style="color:black">Job Finder helps match the right person to the right job.  Refine your search around specific industries, meeting goals, locations, or dates &amp; times.</p>
            </div>

        </div>
    </div>

</div>