@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="color:white; text-align:center">Job Finder</h1>
    <p class="lead" style="color:white; text-align:center">Fnd the best job that you deserve</p>
    <div style="text-align:center">
        <a style="margin-left:auto; margin-right:auto">
            <input type="text" placeholder="Search Jobs" style="margin:0 auto; width:100%" />
            <input type="button" value="Search" />
        </a>
    </div>
    
</div>
